 a:link {
        text-decoration: none;
      }
  
      .order-card {
        color: rgb(255, 255, 255);
      }
  
      .bg-c-blue {
        background: #04868f;
      }
  
      .bg-c-green {
        background:#4C51BF;
      }
  
      .bg-c-yellow {
        background: #F56565;
      }
  
      .bg-c-pink {
        background: #663a30;
      }
    center h6{
      color: white;
    }
    .container2{
      margin-left: 300px;
    }

    .container2 h2{
      color: black;
      font-size: 25px;
    }
    .Dash{
      color: black;
    }
      .card {
        
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        border: 1px solid black;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 400px;
        margin-left: 250px;
        height: 120px;
      }
  
      .card .card-block {
        padding: 25px;
      }
  
      .order-card i {
        font-size: 26px;
      }
      .fas {
        color: black;
      }
  
      .f-left {
        float: left;
      }
  
      .f-right {
        float: right;
      }
      header {
      left: 0px;
      right: 0px;
    }
     a:link {
      text-decoration: none;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: "Gill Sans", sans-serif;;
    }

    header {
      position: fixed;
      background: #5fcf80;
      padding: 20px;
      width: 100%;
      z-index: 1;
    }


    .left_area h3 {
      color: #5fcf80;
      margin: 0px;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 900;
    }

    .left_area span {
      color: #5fcf80;
    }

    .logout_btn {
      padding: 5px;
      background: #5fcf80;
      text-decoration: none;
      float: right;
      margin-top: -30px;
      margin-right: 40px;
      border-radius: 2px;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      transition: 0.5s;
      width:100px;
      height: 35px;
      text-align: center;

    }

    .logout_btn:hover {
      background: #0B87A6;
    }

    .sidebar {
     
      margin-top: 70px;
      padding-top: 30px;
      position: fixed;
      left: 0;
      width: 250px;
      height: 100%;
      transition: 0.5s;
      transition-property: left;
    }

    .sidebar .profile_image {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin-bottom: 10px;
    }

    .sidebar h4 {
      color: #000000;
      margin-top: 0;
      
    }

    .sidebar a {
      color: #F5F5F5;
      display: block;
      width: 100%;
      line-height: 60px;
      text-decoration: none;
      padding-left: 40px;
      box-sizing: border-box;
      transition: 0.5s;

    }

    .row{
      padding-left: 50px;
    }


  

    .sidebar i {
      padding-right: 10px;
    }

    label #sidebar_btn {
      z-index: 1;
      color: #fff;
      position: fixed;
      cursor: pointer;
      left: 300px;
      font-size: 20px;
      margin: 5px 0;
      transition: 0.5s;
      transition-property: color;
    }

    label #sidebar_btn:hover {
      color: #19B3D3;
    }

    #check:checked~.sidebar {
      left: -190px;
    }

    #check:checked~.sidebar a span {
      display: none;
    }

    #check:checked~.sidebar a {
      font-size: 20px;
      margin-left: 170px;
      width: 80px;
    }

    .content {
      margin-left: 250px;
      background-position: center;
      background-size: cover;
      height: 100vh;
      transition: 0.5s;
    }

    #check:checked~.content {
      margin-left: 60px;
    }

    #check {
      display: none;
    }
.exam1{
width: 1127px;
height: 250px;
background: #FFFFFF;
box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}
.bx1{
 
width: 1127px;
height:89px;
left: 152px;
top: 732px;

background: #FFFFFF;
box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}
.quizimage{
width: 74px;
height: 74px;
border-radius: 155px;
}
.Q1{
position: relative;
top: -50%;
left: 35%;
width: 167px;
height: 30px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;
}
.rating{
  position: relative;
  top: -95%;
  left: 80% ;
}
.description{
 position: relative;
width: 1042px;
height: 69px;
top: 20%;
left: 15%;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;
}
.take-btn{
  position: absolute;
width: 559px;
height: 62px;
left: 64.1%;
top: 52%;

background: #0163E0;
border-radius: 0px 0px 15px 0px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}
.exam2{
  position: absolute;
  top: 65%;
  width: 1127px;
height: 250px;
background: #FFFFFF;
box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}
.take-btn2{
  position: absolute;
width: 559px;
height: 62px;
left: 50.5%;
top: 75%;

background: #0163E0;
border-radius: 0px 0px 15px 0px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}
.exam3{
  position: absolute;
  top: 110%;
  width: 1127px;
height: 250px;
background: #FFFFFF;
box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}